{% extends 'fixed.html' %}
{% block content %}
<head>
    <style>
        #container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            margin: 20px auto;
        }
        #result-table-container {
            width: 50%;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 8px;
            max-height: 400px;
            position: relative;
        }
        #result-table {
            width: 100%;
            border-collapse: collapse;
        }
        #result-table th,
        #result-table td {
            padding: 8px;
            text-align: center;
            border: 2px solid #ccc;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .sticky {
            position: sticky;
            top: 0;
            background-color: #a5d6a7;
            z-index: 1;
        }
        .defective-row {
            background-color: yellow!important;
        }
        .chart-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 20px;
        }
        .chart {
            width: 45%;
        }

    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // JavaScript 코드
        document.addEventListener('DOMContentLoaded', function() {
            var rows = document.querySelectorAll('#result-table tbody tr');
            var delay = 1000;  // 1초 지연
            var normalCount = 0;
            var defectiveCount = 0;
            var mfccminData = [];
            var mfccmaxData = [];
            var spectrumData = [];
            var xLabels = [];
            var max_data_length = 15; // 그래프에 표시할 최대 데이터 개수

            // 각 행을 순차적으로 표시
            for (var i = 0; i < rows.length; i++) {
                (function(index) {
                    setTimeout(function() {
                        rows[index].style.opacity = '1';
                        
                        // 정상과 불량 카운트 업데이트
                        var prediction = rows[index].querySelector('td:last-child').innerText;
                        if (prediction === '정상') {
                            normalCount++;
                        } else if (prediction === '불량') {
                            defectiveCount++;
                        }
                        
                        // Temp, Current 데이터 수집
                        var mfmin = parseFloat(rows[index].querySelector('td:nth-child(1)').innerText);
                        mfccminData.push(mfmin);
                        var mfmax = parseFloat(rows[index].querySelector('td:nth-child(2)').innerText);
                        mfccmaxData.push(mfmax);
                        var spect = parseFloat(rows[index].querySelector('td:nth-child(3)').innerText);
                        spectrumData.push(spect);
                        
                        // x축 데이터 업데이트
                        var date = new Date();
                        xLabels.push(date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds());
                        
                        // 차트 업데이트
                        updateChart(normalCount, defectiveCount);
                        updatemfminChart(mfccminData, xLabels);
                        updatemfmaxChart(mfccmaxData, xLabels);
                        updatespectChart(spectrumData, xLabels);
                    }, delay * (index + 1));
                })(i);
            }
            
            // 차트 생성 및 업데이트 함수
            function updateChart(normalCount, defectiveCount) {
                var ctx = document.getElementById('result-chart').getContext('2d');
                var data = {
                    labels: ['정상', '불량'],
                    datasets: [{
                        label: 'prediction',
                        data: [normalCount, defectiveCount],
                        backgroundColor: ['#46af32', '#ffcc00'],
                        borderWidth: 2, // 도넛 차트의 두께 설정
                    }],
                    options: {
                        cutoutPercentage: 25, // 중앙 빈 영역의 크기 설정 (0-100 사이 값)
                        elements: {
                            arc: {
                                borderWidth: 2, // 도넛 차트의 두께 설정
                            }
                        }
                    }
                    
                };
                
                if (window.resultChart) {
                    // 차트가 이미 생성되었다면 업데이트
                    window.resultChart.data.datasets[0].data = [normalCount, defectiveCount];
                    window.resultChart.update();
                } else {
                    // 차트 생성
                    window.resultChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data
                    });
                }
            }
            
            // mfcc-min 차트 생성 및 업데이트 함수
            function updatemfminChart(mfccminData, xLabels) {
                var ctx = document.getElementById('mfccmin-chart').getContext('2d');
                // 데이터 길이가 15개를 초과하면 가장 앞의 데이터를 자릅니다.
                if (mfccminData.length > max_data_length) {
                    mfccminData = mfccminData.slice(-max_data_length);
                    xLabels = xLabels.slice(-max_data_length);
                }
                var data = {
                    labels: xLabels,
                    datasets: [{
                        label: 'mfcc_min',
                        data: mfccminData,
                        borderColor: '#a5d6a7',
                        backgroundColor: 'rgba(96, 145, 12, 0.1)',
                        borderWidth: 1,
                        pointRadius: 0
                    }]
                };
                
                if (window.mfccminChart) {
                    // 차트가 이미 생성되었다면 업데이트
                    window.mfccminChart.data.labels = data.labels;
                    window.mfccminChart.data.datasets[0].data = data.datasets[0].data;
                    window.mfccminChart.update();
                } else {
                    // 차트 생성
                    window.mfccminChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                            scales: {
                                x: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'Time'
                                    }
                                },
                                y: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'mfcc-min'
                                    }
                                }
                            }
                        }
                    });
                }
            }

            // mfcc-max 차트 생성 및 업데이트 함수
            function updatemfmaxChart(mfccmaxData, xLabels) {
                var ctx = document.getElementById('mfccmax-chart').getContext('2d');
                
                if (mfccmaxData.length > max_data_length) {
                    mfccmaxData = mfccmaxData.slice(-max_data_length);
                    xLabels = xLabels.slice(-max_data_length);
                }
                var data = {
                    labels: xLabels,
                    datasets: [{
                        label: 'mfcc_max',
                        data: mfccmaxData,
                        borderColor: '#36a2eb',
                        backgroundColor: 'rgba(54, 162, 235, 0.1)',
                        borderWidth: 1,
                        pointRadius: 0
                    }]
                };
                
                if (window.mfccmaxChart) {
                    // 차트가 이미 생성되었다면 업데이트
                    window.mfccmaxChart.data.labels = data.labels;
                    window.mfccmaxChart.data.datasets[0].data = data.datasets[0].data;
                    window.mfccmaxChart.update();
                } else {
                    // 차트 생성
                    window.mfccmaxChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                            scales: {
                                x: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'Time'
                                    }
                                },
                                y: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'mfcc-max'
                                    }
                                }
                            }
                        }
                    });
                }
            }
            
            // spectrum-min 차트 생성 및 업데이트 함수
            function updatespectChart(spectrumData, xLabels) {
                var ctx = document.getElementById('spectrum-chart').getContext('2d');
                if (spectrumData.length > max_data_length) {
                    spectrumData = spectrumData.slice(-max_data_length);
                    xLabels = xLabels.slice(-max_data_length);
                }
                var data = {
                    labels: xLabels,
                    datasets: [{
                        label: 'spectrum_min',
                        data: spectrumData,
                        borderColor: '#ff6384',
                        backgroundColor: 'rgba(255, 99, 132, 0.1)',
                        borderWidth: 1,
                        pointRadius: 0
                    }]
                };
                
                if (window.spectrumChart) {
                    // 차트가 이미 생성되었다면 업데이트
                    window.spectrumChart.data.labels = data.labels;
                    window.spectrumChart.data.datasets[0].data = data.datasets[0].data;
                    window.spectrumChart.update();
                } else {
                    // 차트 생성
                    window.spectrumChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                            scales: {
                                x: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'Time'
                                    }
                                },
                                y: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'Spectrum-min'
                                    }
                                }
                            }
                        }
                    });
                }
            }
            
            // 페이지 로딩 시 초기 차트 생성
            updateChart(normalCount, defectiveCount);
            updatemfminChart(mfccminData, []);
            updatemfmaxChart(mfccmaxData, []);
            updatespectrumChart(spectrumData, []);
        });
    </script>
</head>
<body>
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h1 class="mb-0" style="font-family: 'NotoSansKR-Bold';">열풍건조 설비 내 팬 사운드를 활용한 이상탐지</h1>
                    </div>
                    <div id="container" class="bg-light">
                        <div id="result-table-container" class="flex-grow-1">
                            <table id="result-table">
                                <colgroup>
                                    <col style="width: 100px;"> 
                                    <col style="width: 100px;"> 
                                    <col style="width: 100px;"> 
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="sticky">mfcc_min</th>
                                        <th class="sticky">mfcc_max</th>
                                        <th class="sticky">spectrum_min</th>
                                        <th class="sticky">prediction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in data %}
                                    {% if row['prediction'] == "불량" %}
                                    <tr class="defective-row" style="opacity: 0;">
                                        <td>{{ row['mfcc_min']|round(3) }}</td>
                                        <td>{{ row['mfcc_max']|round(3) }}</td>
                                        <td>{{ row['spectrum_min']|round(5) }}</td>
                                        <td>{{ row['prediction'] }}</td>
                                    </tr>
                                    {% else %}
                                    <tr style="opacity: 0;">
                                        <td>{{ row['mfcc_min']|round(3) }}</td>
                                        <td>{{ row['mfcc_max']|round(3) }}</td>
                                        <td>{{ row['spectrum_min']|round(5) }}</td>
                                        <td>{{ row['prediction'] }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="chart flex-grow-1" style="width: 30%;padding-left: 20px;">
                            <canvas id="result-chart"></canvas>
                        </div>
                        <div class="chart" style="width: 33%;">
                            <canvas id="mfccmin-chart"></canvas>
                        </div>
                        <div class="chart" style="width: 33%;">
                            <canvas id="mfccmax-chart"></canvas>
                        </div>
                        <div class="chart" style="width: 33%;">
                            <canvas id="spectrum-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}