<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
</head>
<body>
    <h1>Results</h1>

    {% if results %}
    <h2>Uploaded Images and Predictions</h2>
    {% for result in results %}
    {% set image_filename = result['image_file'] %}
    {% set image_number = image_filename.split('left_불량품')[1].split('.')[0] %}
    <h3>Image: {{ image_number }}</h3>

    <img src="{{ url_for('static', filename='Thermal_images/' + result['image_file']) }}" alt="Uploaded Image">
    <p>Prediction: {{ '양품' if result['prediction'][0] > result['prediction'][1] else '불량품' }}</p>
    {% endfor %}
    {% endif %}

    <form class="form-signin card mb-6" method="post" enctype="multipart/form-data" action="/results">
        <img class="mb-4" src="https://www.hyundai.com/contents/mainbanner/sonata-23fl-m.png" alt="" width="240" style="border-radius:50%">
        <h1 class="h3 mb-3 font-weight-bold">Please upload a picture of WindShield!</h1>
        <input type="file" name="file" class="form-control-file" id="inputfile">
        <div class="mt-2"></div>
        <button type="submit" class="btn btn-primary">
            <span class="box">
                Upload!
            </span>
        </button>
        <p class="mt-5 mb-3 text-muted custom-text">
            자동차윈드실드 몰딩의 이미지를 업로드 할 경우, <br>
            자동차윈드실드의 불량을 판정합니다.
        </p>
    </form>
</body>
</html>
