{% extends 'fixed.html' %}
{% block content %}
<h1>Results</h1>

{% if results %}
<h2>Uploaded Images and Predictions</h2>
{% for result in results %}
{% set image_filename = result['image_file'] %}
{% set image_number = image_filename.split('left_불량품')[1].split('.')[0] %}
<h3>Image: {{ image_number }}</h3>

<img src="{{ url_for('static', filename='Thermal_images/' + result['image_file']) }}" alt="Uploaded Image">
<p>Prediction: {{ '양품' if result['prediction'][0] > result['prediction'][1] else '불량품' }}</p>
{% endfor %}
{% endif %}

<form class="form-signin card mb-6" method="post" enctype="multipart/form-data" action="/results">
	<h1 class="h3 mb-3 font-weight-bold">Please upload pictures of WindShield!</h1>
	<input type="file" name="file" class="form-control-file" id="inputfile" multiple>
	<div class="mt-2"></div>
	<button type="submit" class="btn btn-primary">
		<span class="box">
			Upload!
		</span>
	</button>
	<p class="mt-5 mb-3 text-muted custom-text">
		Please upload images of WindShield for defect detection.
	</p>
</form>
</form>
{% endblock content %}