<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Factory Manager</title>
    <link rel="stylesheet" href="../static/css/index0_style.css">
</head>
<body>
    <div class="main">
        <h2>Smart Factory Manager</h2>
    </div>
    <section style="display: flex;">
        <div class="item" id="item1">
          <a href="/door">
            <div>
              <h2>
                <p>도어</p>
              </h2>
              <p>
                <span id="text1">도어 제조 공정 중 스크래치 또는 외관 손상이 발생한 제품을 판별</span>
              </p>
            </div>
          </a>
        </div>
        <div class="item" id="item2">
          <a href="/molding">
            <div>
              <h2>
                <p>윈드실드 몰딩</p>
              </h2>
              <p>
                <span id="text2">열화상 데이터를 이용한 윈드실드 가스 사출 공정에서 양불 판정</span>
              </p>
            </div>
          </a>
        </div>
        <div class="item" id="item3">
          <a href="/drying">
            <div>
              <h2>
                <p>열풍 건조 기계</p>
              </h2>
              <p>
                <span id="text3">도금 공정 시 사용하는 열풍 건조 기계의 사운드 데이터를 이용한 설비 이상 탐지</span>
              </p>
            </div>
          </a>
        </div>
    </section>
</body>
</html>