<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Factory Manager</title>
    <link rel="stylesheet" href="../static/css/index0_style.css">
</head>
<body>
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="../static/images/backmedia.mp4" type="video/mp4"/>
            Your browser is not supported!
          </video>
        <div class="jb-text">
          <p>자동차 부품 제조 공정 실시간 이상탐지</p>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="img-container">
        <img class="img" src="../static/images/main_image.jpg" alt="no image">
    </div>
    <div class="main">
        <h2>Smart Factory Manager</h2>
        <button class="btn" onclick="location.href='/door'"> 도어 </button>
        <button class="btn" onclick="location.href='/molding'"> 윈드실드 몰딩 </button>
        <button class="btn" onclick="location.href='/drying'"> 열풍 건조 기계 </button>
    </div>
</body>
</html>