{% extends 'fixed.html' %}
{% block content %}
<div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="static\images\backmedia.mp4" type="video/mp4" />
      Your browser is not supported!
    </video>
</div>
<div class="title">
    <h2>SMART FACTORY MANAGER</h2>
</div>
<div class="card mx-auto">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/door">도어 검사</a></li>
      <li class="list-group-item"><a href="/molding">윈드실드 검사</a></li>
      <li class="list-group-item"><a href="/temp">열풍건조기계 이상탐지</a></li>
    </ul>
  </div>
{% endblock content %}