{% extends 'fixed.html' %}
{% block content %}
<div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="static\images\backmedia.mp4" type="video/mp4" />
      Your browser is not supported!
    </video>
</div>
<div class="title">
    <h2>SMART FACTORY MANAGER</h2>
</div>
<!-- <button class="btn" id="btn2" onclick="location.href='/molding'">윈드실드 몰딩</button> -->
<div class="content">
    <button class="btn" onclick="location.href='/door'"><h3>시작하기</h3></button>
</div>
{% endblock content %}