{% extends 'fixed.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div id="title-wrapper">
                <h1 id="title">SMART FACTORY MANAGER</h1>
                <div id="exp">
                    <p>
                        <div class="line"></div>
                        <span style="color: #004c9c;">자동차 부품 제조 공정</span>
                        에서 공정 손실을 최소화하기 위해<br>딥러닝을 이용한 
                        <span style="color: #004c9c;">양불판정 및 설비 이상 탐지</span>를 수행합니다.
                        <div class="line"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../static/images/backmedia.mp4" type="video/mp4" />
      Your browser is not supported!
    </video>
</div>
{% endblock content %}