{% extends 'fixed.html' %}
{% block content %}

<div class="text-center">
  <h1>Smart Factory Manager</h1>
</div>
<form class="form-signin card_res" method="post" enctype="multipart/form-data">
  <img class="mb-4 center-align" src="https://www.hyundai.com/contents/mainbanner/sonata-23fl-m.png" alt="" width="240">
  <h2 class="h3 mb-3 font-weight-normal custom-title center-align">Vehicle Door Surface <br> Defect Detection:</h2>    
  <img class="img-fluid" src="{{ url_for('static', filename=result_image) }}" alt="User_Image" max-width="100%" height="auto">
  <!-- Show the names of the detected classes and their probabilities -->
  {% for class_name, prob in class_names_and_probs %}
  <div class="alert alert-info" role="alert">
    <strong>{{ class_name }}</strong> 
    {% if prob != 1 %}
      <br><strong>확률: </strong> {{ prob }}
    {% endif %}
  </div>
  {% endfor %}

  <div class="text-center">
    <button class="btn btn-lg btn-primary">Test Another Image</button>
  </div>
</form>
{% endblock content %}